<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EduSys</title>
</head>
<body>
<link rel="import" href="/templates/main/main.html" >
<script src="/views/course/course.js"></script>
<h2>Course</h2>

<div id="course" class="modal">

    <div> Course ID </div>

    <div id="course-id"> </div>

    <div> Course Name </div>

    <div id="course-name" > </div>

    <div> Section </div>

    <div id="sectionNo" > </div>

    <div> Instructor Name </div>

    <div id="instructor-name" > </div>

    <div> Instructor Last Name </div>

    <div id="instructor-lastname" > </div>


    <div>
        <input type="button" id="backToStudentPage" value="Back">
    </div>

</div>
</body>
</html>