<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        div.header { color: #000000;
            font-family: 'Raleway',sans-serif;
            font-size: 25px;
            font-weight: 800;
            line-height: 72px;
            margin: 0 0 24px;
            text-align: center;
            text-transform: uppercase; }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/table.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>EduSys</title>
</head>

<link rel="import" href="/templates/main/main.html" >
<script src="/views/home/admin-home.js"></script>
<body>
    <div class="header">ADMIN PAGE</div>

    <div id="userlist"></div>

    <div id="button_block">
        <input class="btn btn-primary btn-lg" id="adm-register" type="button" value="Register"/>
    </div>
</body>
</html>