<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EduSys</title>
</head>

<link rel="import" href="/templates/main/main.html" >
<script src="/views/home/student-home.js"></script>
<h2 id = "student-home">Student Page</h2>
<body>

    <div>Profile Picture</div>
    <img src="" id="profile-picture" style="width:304px;height:228px;">

    <div id="Courses"></div>

    <div id="button_block">
        <input id="getAttendance" type="button" value="Get All Attendances"/>
    </div>

    <div id="Attendances"></div>

    <div id="button_block2">
        <input id="getGrades" type="button" value="Get All Grades"/>
    </div>

    <div id="Grades"></div>

</body>
</html>