<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title><!DOCTYPE html>
                <html lang="en">
                <head>
                    <meta charset="UTF-8">
                    <title>EduSys</title>


                </head>
<body>
<link rel="import" href="/templates/main/main.html" >
<script src="/views/exam/add-new-grade.js"></script>
<h2>Add New Grade</h2>

<div id="add-new-grade" class="modal">

    <form id="add-new-grade-form"   class="form_statusinput">
        <p>User ID</p>
        <div>

            <input type="input"  id="user-id" >
        </div>
        <p>Grade</p>
        <div>
            <input type="input"  id="grade" >
        </div>

        <div id="confirmedPassMsg"></div>


        </br>

        <input type="submit" id="button" value="Add New Entry">

    </form>
    <div id="error_rgs_msg"></div>
    </br>
    <div>
        <input type="button" id="backToExamListPage" value="Back">
    </div>

</div>
</body>
</html></title>
</head>
<body>

</body>
</html></title>
</head>
<body>

</body>
</html>