<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>EduSys</title>


        </head>
<body>
<link rel="import" href="/templates/main/main.html" >
<script src="/views/exam/add-exam.js"></script>
<h2>Add Exam</h2>

<div id="add-exam" class="modal">

    <form id="add-exam-form"   class="form_statusinput">
        <p>Course ID</p>
        <div>

            <input type="input"  id="course-id" >
        </div>
        <p>Section No</p>
        <div>
            <input type="input"  id="section-no" >
        </div>

        <p>Name</p>
        <div>
            <input type="input"  id="exam-name" >
        </div>





        <div id="confirmedPassMsg"></div>


        </br>

        <input type="submit" id="button" value="Add Exam">

    </form>
    <div id="error_rgs_msg"></div>
    </br>
    <div>
        <input type="button" id="backToLecturerPage" value="Back">
    </div>

</div>
</body>
</html></title>
</head>
<body>

</body>
</html>