<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EduSys</title>
</head>
<body>
<link rel="import" href="/templates/main/main.html" >
<script src="/views/attendance/interest.js"></script>
<h2>Interest Info</h2>

<div id="interest" class="modal">

    <div> Seating Distance </div>

    <div id="seating-distance"> </div>

    <div> Seating Place Top </div>

    <div id="spc" > </div>

    <div> Seating Place Bottom </div>

    <div id="spb" > </div>

    <div> Seating Place Left </div>

    <div id="spl" > </div>

    <div> Seating Place Right </div>

    <div id="spr" > </div>


    <div>
        <input type="button" id="backToAttendancePage" value="Back">
    </div>

</div>
</body>
</html>