<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EduSys</title>


</head>
<body>
<link rel="import" href="/templates/main/main.html" >
<script src="/views/login/login.js"></script>
<h2>Login</h2>

<div id="id01" class="modal">

    <form id="login-form"   class="form_statusinput">
        <input type="input"  id="login-id" >
        <input type="password" id="login-pass">
        <div id="button_block">
            <input type="submit" id="button" value="Login">
        </div>
    </form>

    <div id="error_lgn_msg"></div>
</div>

</body>
</html>